[Unit]
Description=Hall Cup Kiosk
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/chromium-browser --kiosk https://kiosk.starsdown64.me/
Environment="DISPLAY=:0"

[Install]
WantedBy=multi-user.target
Alias=simulator.service
